html {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	margin:0;
	overflow:hidden;
}

.page {
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	transition:0.5s transform ease;
}

.page[data-page="gov_left"] {
	transform:translate(-50.5%);
	background-image: url("../images/gov_bg.png");
	background-position: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page[data-page="hospit_right"] {
	transform:translate(50.5%);
	background-image: url("../images/hc_bg.png");
	background-position: -250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page.active {
	transform:translate(0);
	transition:0.5s transform ease;
}

.button {
	color:white;
	background:black;
	padding:1rem;
	display:inline-block;
	margin:1rem;
	position:relative;
	overflow:hidden;
}

.home {
	transform:translate(0%);
	position: relative;
	z-index: 10;
}

.page.slide_right {
transform:translate(100%);
}

.page.slide_left {
transform:translate(-100%);
}

.flex-container {
  display: flex;
  flex-direction: row;
	margin-top: 7%;
}

.flex-container > div {
  background-color: rgba(181, 179, 179,.9);
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 50%;
	padding: 1%;
	padding-top: 6%;
	padding-bottom: 6%;
	text-align: center;
	flex: 1;
}

.flex-container > div.text-title {
	flex: 1.5;
	background-color: rgba(255, 255, 255,.9);
}
.flex-container > div.to_gov {
	margin-left: 0px;
	color:white;
	text-align: right;

}
.flex-container > div.to_hospit {
	margin-right: 0px;
	color:white;
	text-align: left;
}

.option_container {
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	overflow: hidden;
	min-width: 320px;
}

.inner_container {
  background-color: rgba(181, 179, 179,.9);
	width: 40%;
	margin: 20px;
	justify-content: center;
	text-align: center;
	line-height: 200%;
	padding: 3%;
	text-align: center;
	color: white;
	text-align: center;
	display:flex;
	flex-direction: column;
}

.inner_container > div {
	visibility: hidden;
}

.inner_container > div:nth-child(1) {
	animation-delay: 0s }
.inner_container > div:nth-child(2) {
	animation-delay: .1s }
.inner_container > div:nth-child(3) {
	animation-delay: .2s }
.inner_container > div:nth-child(4) {
	animation-delay: .3s }


.inner_container > div > h1:hover {
	transform: scale(1.2);
	color:grey;
}

.hide {
	color: blue;
}
.offsetHospitImage {
	animation-name: offsetHImage;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.offsetGovImage {
	animation-name: offsetGImage;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.centerHospitImage {
	animation-name: centerHImage;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.centerGovImage {
	animation-name: centerGImage;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.explorePop {
	animation-name: explorePopUp;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}


@keyframes offsetHImage {
	0% {
		background-position: 0px;
	}
	100% {
		background-position: -250px;
	}
}

@keyframes offsetGImage {
	0% {
		background-position: 0px;
	}
	100% {
		background-position: 250px;
	}
}

@keyframes centerHImage {
	0% {
		background-position: -250px;
	}
	100% {
		background-position: 0px;
	}
}

@keyframes centerGImage {
	0% {
		background-position: 250px;
	}
	100% {
		background-position: 0px;
	}
}

@keyframes explorePopUp {
	0%{
	    transform: scale(0) translateY(100px);
	  }
	  50%{
	    transform: scale(1.05) translateY(-10px);
	    opacity: 1;
	  }
	  100%{
	    transform: scale(1) translateY(0px);
	    visibility: visible;
	  }
}
